<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="mobile-container">
      <!-- Header -->
      <header><%- include('partials/header') %></header>

      <h1 class="likes__header">Mijn account</h1>

      <section class="account_section">
        <img class="account_picture" src="/uploads/<%= data.avatar %>">
        <p class="account_text">
          <span>Naam:</span> <%- data.name%><br><br>
          <span>Studie/bedrijf:</span> <%- data.study%><br><br>
          <span>Bericht:</span> <%- data.message%><br><br>
          <span>Intresses:</span> <%- data.interests%><br><br>
          <span>Leeftijd:</span> <%- data.age%><br><br>
          <%
            var today = data.createdAt
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = dd + '-' + mm + '-' + yyyy;
          %>
          <span>Account aangemaakt op:</span> <%- today %><br><br>
          <a href="/users/likes">Gelikede personen</a><br><br><br>
        </p>
      </section>



      <!-- Footer -->
      <footer><%- include('partials/footer') %></footer>
    </div>
  </body>
</html>
